@font-face {
    font-family: "Vazir";
    src: url(../../public/Vazir-font/Vazir.eot),
    url(../../public/Vazir-font/Vazir.ttf),
    url(../../public/Vazir-font/Vazir.woff),
    url(../../public/Vazir-font/Vazir.woff2);
};

*{
    font-family: "Vazir"!important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg : #0d0c22;
    --text : white;
    --anchor : gray;
    --bgSoft:#2d2b42;
    --textSoft:#e5e5e5;
    --btn:#3673fd;
}

body{
    background-color: var(--bg);
    color:var(--text) ;
   
    
}

a{
    text-decoration: none;
    color: var(--anchor);
}
.container{
   
    width: 1366px;
    margin: auto;
padding-left: 50px;
padding-right: 50px;
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-between;

}

@media (max-width : 1466px){
    .container{
        width : 1336px
    }
}

@media (max-width : 1366px){
    .container{
        width : 1241px
    }
}

/* @media (max-width : 1241px){
    .container{
        width : 1024px;
        padding: 0 20px;
       
    }
} */

@media (max-width : 1241px){
    .container{
        width : 1024px;
        padding: 0 20px;
    }
}
@media (max-width : 1024px){
    .container{
        width : 860px
    }
}

@media (max-width : 860px){
    .container{
        width : 768px
    }
}
@media (max-width : 768px){
    .container{
        width : 640px
    }
}

@media (max-width : 640px){
    .container{
        width : 425px
    }
}

@media (max-width : 425px){
    .container{
        width : 380px
    }
}

@media (max-width : 380px){
    .container{
        width: 260px;
    }
}