.container{
display: flex;
gap: 100px;
}

.textContainer{
flex: 1;
display: flex;
flex-direction: column;
gap: 50px;
}

.imgContainer{
    /* height: 500px; */
flex: 1;
position: relative;
}

.title{
    font-size: 50px;
}

.desc{
  
    font-size: 20px;
    /* margin: 10px 40px; */
    text-align: justify;
}

.buttons{
    display: flex;
    gap: 20px;
    text-align: center;
}

.button{
    padding: 20px;
    min-width: 120px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.button:first-child{
    background-color: var(--btn);
    color: var(--text);
}

.button:last-child{
    background-color: var(--text);
    color: var(--bgSoft);
}



.brands{
    
    width: 500;
    height: 50px;
    position: a;
    filter: grayscale(1);
    display: flex;
    justify-content:center;
    -webkit-filter: grayscale(1);
   
}

/* .brandImg{
    width: 200px;
    height: 50px;
} */

@media (max-width: 1024px) {
    .container {
      flex-direction: column;
      text-align: center;
    }

    .buttons{
        justify-content: center;
    }

}

@media (max-width : 768px) {
    /* .container{
        width : 640px
    } */
    /* .imgContainer{
        display: none;
    } */

    /* .brandImg{
        width: 200px;
        height: 50px;
    } */

    .title{
        font-size: 32;
    }

    .brands{
        width: 100%;
    }

    .brandImg{
        right: -41px!important;
    }
}

/* @media (max-width : 640px){
    .container{
        width : 450px
    }
}

@media (max-width : 475px){
    .container{
        width : 380px
    }
} */


